@import "../abstracts/_colors.scss";
@import "../base/_typography.scss";
@import "../base/_mixins.scss";

.screen {
    gap: 32px;
}

.circles {
    position: absolute;
    width: 100%;
    aspect-ratio: 1;
}

.recordButtonContainer {
    @include flex-container(row, nowrap, center, center);
    flex: 1;
    aspect-ratio: 1;
}

.captionContainer {
    @include flex-container(column, nowrap, center, center);
    gap: 16px;
}

.caption {
    @include typo-maker($text-md-font-size, $font-weight-light);
    color: $white;
}

.subCaption {
    @include typo-maker($text-md-font-size, $font-weight-light);
    color: $white-400;
}

// while recording

.recordingInfoContainer {

    align-self: stretch;
    @include flex-container(row, nowrap, space-between, center);
    gap: 16px;
}

.recordingTextInfoContainer {
    @include flex-container(column, nowrap, center, flex-start);
    gap: 8px;
}


.recordingMessage {
    @include typo-maker($text-md-font-size, $font-weight-light);
    color: $white;
}

.recordingCaption {
    @include typo-maker($text-md-font-size, $font-weight-light);
    color: $white-400;
}

.timer {
    
    @include flex-container(row, nowrap, center, center);
    padding: 0px 16px;
    height: 35px;

    border-radius: 8px;

    background: rgba($white, 0.05);
}

.timerValue {

    @include typo-maker($text-md-font-size, $font-weight-light);
    color: $white;
}