@import "../abstracts/_colors.scss";
@import "../base/_typography.scss";
@import "../base/_mixins.scss";


.brand {

    @include flex-container(column, nowrap, center, center);
    gap: 16px;

    width: 100%;
}

.textContainer {
    @include flex-container(column, nowrap, center, center);
    gap: 8px;
}

.appName {
    @include header-1-light;
    color: $white;
}

.caption {
    @include header-4-light;
    color: $white-400;
}