@import "../abstracts/_colors.scss";
@import "../base/_typography.scss";
@import "../base/_mixins.scss";

.container {

    @extend .screenContainer;
    background: $black;

    padding: 0px 16px;

}


.appBackground {
    position: absolute;
    z-index: -1;
}